body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.nav-bar {
    background-color:green;
    color: #111;
    padding: 10px;
    display: flex;
    align-items: center;
}